input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .error{
    border: 2px solid #ccc !important;
    border-color: red !important;
  }
  .btn:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .country_info {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.country_info thead tr {
    background-color: #4CAF50;
    color: black;
    text-align: left;
}
.country_info th,
.country_info td {
    padding: 12px 15px;
}
.country_info tbody tr {
    border-bottom: 1px solid #dddddd;
}

.country_info tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.country_info tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.country_info tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}